<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    {% if form.errors %}
    <p>Cannot login</p>
    {% endif %}

    {% if next %}
    <p>Access Denied</p>
    {% endif %}

    <form method = "post" action="{% url 'login' %}">
        {% csrf_token %}
        <p style="text-align: center;">{{ form.username }}</p>
        <p style="text-align: center;">{{ form.password }}</p>
        

        <p style="text-align: center;"><input type = "submit" = value = "login"></p>
        <p style="text-align: center;"><input type = "hidden" name = "next" value = "{{ next }}"></p>
    </form>
</body>
</html>